@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-overflow-x {
    overscroll-behavior-x: contain;
    overflow-x: hidden;
}

.no-overflow-y {
    overscroll-behavior-y: contain;
    overflow-y: hidden;
}

.not-draggable {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.draggable {
    -webkit-user-select:all;
    -moz-user-select:all;
    -ms-user-select:all;
    user-select:all
}